@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>
        Singleton : @ViewBag.SingletonGuid
    </p>
    <p>
        Transient : @ViewBag.TransientGuid
    </p>
    <p>
        Scoped : @ViewBag.ScopedGuid
    </p>
    <br/>
    <p> Service </p>
    <p>
        Singleton : @ViewBag.SingletonService
    </p>
    <p>
        Transient : @ViewBag.TransientService
    </p>
    <p>
        Scoped : @ViewBag.ScopedService
    </p>
</div>
